@charset "UTF-8";
:root {
  --color-logo: #000000;
  --color-background: #FFFFFF;
  --color-textbase: #757575;
  --color-title: #212121;
  --color-hoover: #2196F3;
  --color-section: #2F303A;
  --color-button-background: #F5F4FA;
  --color-hero-background: #C4C4C4;
  --color-social-link: #AFB1B8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

body {
  background-color: var(--color-background);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--color-textbase);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1199px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

/** @format */
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/** @format */
.header {
  border-bottom: 1px solid #ececec;
}
.header__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .header__block {
    height: 80px;
  }
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    justify-content: space-between;
  }
}

.nav-list {
  display: none;
  align-items: center;
  gap: 50px;
  margin-left: 93px;
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
  .nav-list__item {
    position: relative;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--color-title);
    padding: 31px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.nav-list__item:hover, .nav-list__item:focus, .nav-list__item--current {
  color: var(--color-hoover);
  fill: var(--color-hoover);
}
.nav-list__item--current::after {
  content: "";
  position: absolute;
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--color-hoover);
  border-radius: 2px;
  bottom: 0;
}

.header-adress {
  display: none;
  align-items: center;
  margin-left: auto;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .header-adress {
    display: block;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-adress {
    display: flex;
  }
}
.header-adress__item {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--color-textbase);
  fill: var(--color-textbase);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .header-adress__item {
    padding: 5px 0;
  }
}
.header-adress__icon {
  margin-right: 10px;
}
.header-adress__item:hover, .header-adress__item:focus {
  color: var(--color-hoover);
  fill: var(--color-hoover);
}

.mobile-open {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  transition: fill 250ms var(--cubic);
  cursor: pointer;
}
.mobile-open:hover {
  fill: var(--color-hoover);
}
@media screen and (min-width: 768px) {
  .mobile-open {
    display: none;
  }
}

.logo__base {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--color-hoover);
}
.logo__part {
  color: var(--color-logo);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-list__geometry {
  margin: 16px 32px 0 32px;
}
.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--color-social-link);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover {
  background-color: var(--color-hoover);
  fill: var(--color-background);
}

/**
 * Футер
 *
 * @format
 */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-section);
}
.footer__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer__block {
    flex-direction: row;
    gap: 94px;
    align-items: baseline;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer_box {
    display: flex;
    gap: 165px;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer_box {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 70px;
  }
}
.footer__adress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__adress {
    text-align: start;
  }
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__logo-invert {
  color: var(--color-background);
}
.footer__social-list {
  fill: var(--color-background);
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
  display: flex;
  flex-direction: column;
  width: 231px;
  height: 81px;
  align-content: center;
  gap: 9px;
}
.contacts-list__map {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-background);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__adress {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__map:hover, .contacts-list__map:focus, .contacts-list__adress:hover, .contacts-list__adress:focus {
  color: var(--color-hoover);
}

.footer-social {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-social {
    justify-content: flex-start;
    margin-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social {
    text-align: start;
    justify-content: flex-start;
    margin-top: 12px;
  }
}

.footer-social__title {
  text-transform: uppercase;
  color: var(--color-background);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.footer__social-list {
  fill: var(--color-background);
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--color-hoover);
}

.social-list__footer .social-list {
  margin: 0px;
}

/*Футер-форма*/
.subscribe {
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-windth: 1200px) {
  .subscribe {
    display: flex;
  }
}
.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .subscribe__title {
    text-align: start;
  }
}
.subscribe__input {
  margin: 0 auto 20px auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  width: 100vw;
  border-radius: 4px;
  padding: 15px 16px;
  background-color: transparent;
  color: var(--color-background);
  max-width: 450px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}
.subscribe__input:focus {
  border: 1px solid var(--color-hoover);
  outline: var(--color-hoover);
}
.subscribe__field {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .subscribe__field {
    flex-direction: row;
  }
}
.subscribe__button {
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--color-background);
  background-color: var(--color-hoover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .subscribe__button {
    margin-left: 12px;
  }
}
.subscribe__button:hover {
  background-color: #188ce8;
}
.subscribe__button:focus {
  background-color: #188ce8;
}
.subscribe-icon {
  fill: var(--color-background);
  margin-left: 10px;
}

/** @format */
.portfolio__filters-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 46px;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .portfolio__filters-list {
    justify-content: center;
  }
}
.portfolio__button {
  min-width: 73px;
  padding: 6px 22px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--color-title);
  background: var(--color-button-background);
  border-radius: 4px;
  border: 0em;
  cursor: pointer;
}
.portfolio__button:hover, .portfolio__button:focus {
  color: var(--color-background);
  background-color: var(--color-hoover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title--visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/**
 * Проекти-Projects
 *
 * @format
 */
.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .projects-list {
    flex-direction: column;
  }
}
.projects-list__item {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
@media screen and (min-width: 768px) {
  .projects-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .projects-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.projects-list__item:hover, .projects-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list__item:hover .projects-card__overlay {
  transform: translatey(0%);
}

.projects-card {
  position: relative;
  overflow: hidden;
}
.projects-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title);
  margin-bottom: 4px;
}
.projects-card__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-textbase);
}
.projects-card__description {
  padding: 20px 24px;
}
.projects-card__overlay {
  position: absolute;
  background-color: var(--color-hoover);
  top: 0;
  left: 0;
  transform: translatey(115%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0px;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--color-background);
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1199px) {
  .projects-card__overlay {
    padding: 77px 24px;
  }
}

/** @format */
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: var(--color-background);
  overflow-y: auto;
  transform: translatex(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__button-close {
  position: absolute;
  top: 10px;
  right: 15px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.mobile-menu__button-close:hover {
  fill: var(--color-hoover);
}
.mobile-menu__close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translatex(0);
}

.menu-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 356px;
  height: 100%;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--color-title);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav__link:hover,
.mobile-nav__link :focus, .mobile-nav__link--current {
  color: var(--color-hoover);
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--color-hoover);
  text-decoration: none;
}
.mobile-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--color-textbase);
  text-decoration: none;
}

.mobile-social {
  display: flex;
}
.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--color-hoover);
  text-decoration: none;
}
.mobile-social__pipe {
  margin-right: 10px;
  margin-left: 10px;
  color: var(--color-social-link);
}/*# sourceMappingURL=mobileFirstPortfolio.css.map */