/*Футер*/
.footer {
    height: 252px;
    background: var(--color-section);
    padding-top: 60px;
    padding-bottom: 60px;

    &__block {
            display: flex;
            align-items: baseline;
    
        }
    
        &__logo {
            justify-content: flex-start;
            margin-bottom: 20px;
        }
    
        &__logo-invert {
            color: var(--color-background);
        }
        &__social-list {
                     fill: var(--color-background);
                     background: rgba(255, 255, 255, 0.1);
                     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                 }
}


.contacts-list {
    display: flex;
    flex-direction: column;
    width: 231px;
    height: 81px;
    align-content: center;
    gap: 9px;

    &__map {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            color: var(--color-background);
            text-decoration: none;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        &__adress {
            display: block;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.72;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
            text-decoration: none;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        }
    
        &__map:hover,
        &__map:focus, &__adress:hover,
        &__adress:focus {
            color: var(--color-hoover);
    
        }

}


.footer-social {
    display: flex;
    flex-direction: column;
    margin-left: 70px;


}

.footer-social__title {
    text-transform: uppercase;
    color: var(--color-background);
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
}

.footer__social-list {
    fill: var(--color-background);
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--color-hoover);


}

.social-list__footer .social-list {
    margin: 0px
}



/*Футер-форма*/
.subscribe {

    margin-left: auto;

    &__title {
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 20px;
        }
    
        &__input {
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            padding: 15px 16px;
            background-color: transparent;
            color: var(--color-background);
            width: 358px;
            transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
        }
    
        &__input:focus {
            border: 1px solid var(--color-hoover);
            outline: var(--color-hoover);
        }
    
        &__field {
            display: flex;
            width: 100%;
        }
    
        &__button {
            margin-left: 12px;
            padding: 10px 28px;
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
    
            color: var(--color-background);
            background-color: var(--color-hoover);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            border: none;
            cursor: pointer;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        &__button:hover {
            background-color: #188CE8;
        }
    
        &__button:focus {
            background-color: #188CE8;
        }
    
        &-icon {
            fill: var(--color-background);
            margin-left: 10px;
        }
}

