.header {
    border-bottom: 1px solid #ECECEC;

    &__block {
            display: flex;
            align-items: center;
            height: 80px;
    
        }
    
        &-nav {
            display: flex;
    
        }
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 50px;
    &__item {
        position: relative;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: var(--color-title);
        padding: 31px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item:hover,
    &__item:focus,

    &__item--current {
        color: var(--color-hoover);
        fill: var(--color-hoover);

    }
    &__item--current::after {
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--color-hoover);
    border-radius: 2px;
    bottom: 0;
}
}

.header-adress {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 30px;

    &__item {
            display: flex;
            align-items: center;
            text-decoration: none;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.02em;
            color: var(--color-textbase);
            fill: var(--color-textbase);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        }
    
        &__icon {
            margin-right: 10px;
        }
    
        &__item:hover,
        &__item:focus {
            color: var(--color-hoover);
            fill: var(--color-hoover);
        }
}


