.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;

        &__geometry {
            margin: 16px 32px 30px 32px;
    
        }
    
        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            fill: var(--color-social-link);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
        }
    
        &__link:hover {
            background-color: var(--color-hoover);
            fill: var(--color-background);
    
        }

}

