/*Чим займаємось-What we do*/

.what-we-do {
    padding-top: 0px;

    &__title {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            color: var(--color-title);
            text-align: center;
            margin-bottom: 50px;
        }
    
        &__list {
            display: flex;
            justify-content: space-between;
        }
    
    
        &__card {
            position: relative;
        }
    
        &__lable {
            position: absolute;
            bottom: 0px;
    
            display: flex;
            align-items: center;
            justify-content: center;
    
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #FFFFFF;
            background-color: rgba(47, 48, 58, 0.8);
            width: 100%;
            height: 70px;
            z-index: 1;
    
    
        }
}

