:root {
    --color-logo: #000000;
    --color-background: #FFFFFF;
    --color-textbase: #757575;
    --color-title: #212121;
    --color-hoover: #2196F3;
    --color-section: #2F303A;
    --color-button-background: #F5F4FA;
    --color-hero-background: #C4C4C4;
    --color-social-link: #AFB1B8;

}